h2 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75;
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.quiz {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
  /* border-radius: .25; */
  padding: 3rem;
  margin-top: 10px;
 
 
}
.quiz-small {
  max-width: 500px;
}

.start-btn {
  padding: 0.25rem 0.5rem;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-top: 2rem;
  margin-right: auto;
  color: #fff;
  background-color: rgb(17, 57, 80);;
}