
.home {
  align-items: center;
  margin-top: 0px;
}

.item1 {
  
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  color:rgb(33, 69, 146);
  /* margin-top: 10px; */
}
.item2 {
  margin-left: 20px;
  color:rgb(33, 69, 146);
  /* color:rgb(173, 121, 24); */
  /* margin-top: 40px; */
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid img{
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.grid .video{
  position: relative;
  cursor: pointer;

}


.grid .video span{
  position: absolute;
  bottom: 10px;
  z-index: 2;
  background: #020B11;
  display: block;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}


