.home {
  align-items: center;
  margin-top: 50px;
}
.search-input {
  margin-bottom: 40px;
}
.item1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  color: rgb(33, 69, 146);
  /* margin-top: 10px; */
}
.item2 {
  margin-left: 20px;
  color: rgb(33, 69, 146);
  /* color:rgb(173, 121, 24); */
  /* margin-top: 40px; */
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.grid .video {
  position: relative;
  cursor: pointer;
}

.grid .video span {
  position: absolute;
  bottom: 10px;
  /* z-index: 2; */
  background: #020b11;
  display: block;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.search-grid {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-y: hidden;
  margin-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.search-grid a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 12px;
}

.search-grid .search-video {
  width: 300px;
  height: 400px;
}

.search-grid .search-video img {
  width: 100%;
}

.search-video {
  padding: 20px;
}
.search-grid .search-video h3 {
  text-align: left;
  font-size: 1.1rem;
  margin: 10px 0;
}

.search-grid .search-video p {
  text-align: left;
  font-size: 0.9rem;
  margin: 10px 0;
}

/*Scroll-bar styles  */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #020b11;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020b11;
  border-radius: 10px;
}

/*  search form*/
.search-input input {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-left: 25px;
}

/* mobile display */
@media only screen and (max-width: 1104px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid img {
    height: 300px;
  }
}


@media only screen and (max-width: 973px) {
  .grid {
   margin-right: -30px;
   margin-left: -30px;
  }

  
}


@media only screen and (max-width: 765px) {
  .grid {
   margin-right: -50px;
   margin-left: -50px;
  }
  .grid img {
    height: 250px;
  }

  .search-grid{
    width: 90vw;

  }

  .search-grid, .item1, .item2, .search-input{
    margin-right: -50px;
    margin-left: -50px;
  }
  
}


@media only screen and (max-width: 631px) {
  .item1 h1{
    font-size:3rem;
  }
  .item2 {
  margin-bottom: 20px;
  }



  .quiz{
padding: 0 50px !important;
  }




  .search-input input{
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .grid img {
    height: 300px;
  }

  
}


@media only screen and (max-width: 414px) {


  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  
  }
  .grid img {
    height: 250px;
  }

  
}

