
.home {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../images/quizimg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item1 {
  
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  color:rgb(173, 121, 24);
}
.item2 {
  margin-left: 20px;
  color:rgb(173, 121, 24);
}