.score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
}

h1 {
  font-size: 4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 500px;
}

.score-link {
  text-decoration: none;
  padding: 10px 25px;
  background: #103041;
  display: block;
  color: white;
  border-radius: 8px;
}

.score-link:hover {
  background: #5a9fc4;
  color: black;
}
