.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header {
  background: rgb(17, 48, 66);
  /* background: rgb(8, 7, 22); */
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.header img{
  height: 70px;
}
.menu{
  display: flex;
  /* margin-left: 55%; */
}

.header a {
  text-decoration: none;
  color: white;
}
.header span {
  padding: 20px;
  display: inline-block;
  white-space: nowrap;

}

.header .active {
  /* background: rgb(12, 48, 109); */
  background: rgb(2, 11, 17);
  border-bottom: 2px solid rgb(22, 128, 177);
  /* padding-top: px; */
}
 
h2 {
  padding-left: 20px;
}
/* .button {
  margin-right: 20px;
} */

@media only screen and (max-width: 425px) {
  .header img {
    height: 60px;
}
  .menu {
    display: none;
  }
  .menuitem {
    background: rgb(17, 48, 66);
  }
  .css-onkibi {
    background: rgb(17, 48, 66);
    color: white;
    width: 3em;
    height: 2em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
  }

  .chakra-button{
    background-color: rgb(17, 48, 66);
    color: white;
    border: none;
  }

}