.header {
  background: rgb(35,84,169);
  display: flex;
}
.menu{
  display: flex;
  margin-left: 55%;
}

.header a {
  text-decoration: none;
  color: white;
}
.header span {
  padding: 10px;
  display: inline-block;
}

.header .active {
  background: rgb(12, 48, 109);
  border-bottom: 2px solid rgb(22, 128, 177);
}
 
h2 {
  padding-left: 20px;
}
/* .button {
  margin-right: 20px;
} */
