.leader-board {
  margin-top: 20px;
}
table {
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

.bold {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 305px;
  margin-right: 15px;
  object-fit: cover;
}

.user span {
  font-size: 1.2rem;
}
